VITE_API_URL=http://localhost:3000/api
VITE_AZURE_CLIENT_ID=tu-application-client-id-aqui
VITE_AZURE_TENANT_ID=tu-tenant-id-aqui
VITE_AZURE_AUTHORITY=https://pllltexternal.ciamlogin.com/tu-tenant-id-aqui
VITE_AZURE_KNOWN_AUTHORITIES=pllltexternal.ciamlogin.com
VITE_AZURE_API_SCOPE=api://<API_CLIENT_ID>/<scope_name>
VITE_AUTH_DEBUG=false
VITE_AZURE_REDIRECT_URI_PROD=https://polite-sky-09fcdc103.4.azurestaticapps.net
